@import "style/fira-code.css";
@import "style/latinmodern-roman.css";

$font-family: "Latin Modern Roman";
$font-code: "Fira Code";
$mainfont-size: 0.7em;

.reveal {
  font-family: $font-family;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.3em;
  }

  section {
    text-align: left;

    p,
    ul,
    ol,
    code {
      font-size: $mainfont-size;
    }

    code {
      font-family: $font-code;
      font-size: 1 * $mainfont-size;
      line-height: 120%;
    }

    ul {
      list-style-type: circle;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    figcaption {
      font-size: 0.5em;
      text-align: center;
    }

    .sourceCode {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }
}

.noscroll pre code {
  max-height: initial;
}
